[data-component-id=updates-recent] .updates-recent__card .heading {
  display: block;
  -webkit-line-clamp: unset !important;
  overflow: unset;
  min-height: unset;
}
@media (min-width: 1440px) {
  [data-component-id=updates-recent] .updates-recent__card:nth-child(1) {
    min-height: 20rem;
  }
}